<div class="container">
    <div class="page-header">
        <h1>{{titulo}}</h1>
    </div>
    <div *ngIf='!possuiProdutos()'>
        <h3>Nenhum produto encontrado.</h3>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div *ngIf='possuiProdutos()'>
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Capa</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let produto of produtos | slice:getProdutoInicialPagina():getProdutoFinalPagina()" (click)='selecionarProduto(produto)'>
                            <td>{{produto.codigo}}</td>
                            <td>{{produto.nome}}</td>
                            <td>{{produto.preco | temers:true}}</td>
                            <td><img [src]='retornaImagemUrl(produto)'/></td>
                        </tr>
                    </tbody>
                </table>
                <div class="well row">
                    <div class="col-xs-2">
                        <button class="btn btn-primary" (click)="paginaAnterior()"><</button>
                    </div>
                    <div *ngFor='let pagina of getPaginas(); let i = index;' class="col-xs-2">
                        <button class="btn btn-primary" (click)="setPaginaAtual(i+1)">{{i}}</button>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-primary" (click)="paginaPosterior()">></button>
                    </div>
                </div>                
            </div>
        </div>
        <div class="col-sm-2">
            <div *ngIf='produtoSelecionado' class="card" style="width: 18rem;">
                <img class="card-img-top" [src]='retornaImagemUrl(produtoSelecionado)'>
                <div class="card-body">
                    <h5 class="card-title">{{produtoSelecionado.nome | uppercase }}</h5>
                    <p class="card-text">{{produtoSelecionado.descricao}}</p>
                </div>
                <div class="card-footer text-muted">
                    {{produtoSelecionado.preco | currency:'BRL':'symbol':'0.2-2'}}
                </div>
            </div>
        </div>
    </div>
</div>