<h1>{{titulo}}</h1>

<div *ngIf="!produtos || produtos.length == 0">
    <h3>Nenhum produto encontrado.</h3>
</div>
<div *ngIf="produtos && produtos.length > 0">
    <table>
        <thead>
            <th>Código</th>
            <th>Nome</th>
            <th>Preço</th>
        </thead>
        <tbody>
            <tr *ngFor="let produto of produtos">
                <td>{{produto.codigo}}</td>
                <td>{{produto.nome}}</td>
                <td>{{produto.preco}}</td>
            </tr>
        </tbody>
    </table>
</div>